version: '3.8'
services:
  web:
    container_name: '{{ container_name }}'
    restart: always
    build:
      context: '{{ project_path }}'
      dockerfile: Dockerfile
      args:
          RecaptchaSiteKey: '{{ RecaptchaSiteKey }}'
          API_BASE_URL: '{{ API_BASE_URL }}'
          FILE_BASE_URL: '{{ FILE_BASE_URL }}'
          SOCKET_URL: '{{SOCKET_URL}}'
    ports:
      - '{{ publish_port }}:{{ container_port }}'
    networks:
      - camcyber
networks:
  camcyber:
    external: true
